# Variables de Entorno para Prueba Técnica Grupo Éxito

# Configuración de datos
# USE_LOCAL_DATA=true  # Usar datos locales (fakestore.json) en lugar de la API remota
# USE_LOCAL_DATA=false # Usar la API remota de FakeStore (https://fakestoreapi.com)

# Nota: Por defecto, en desarrollo se usan datos locales y en producción la API remota
# Esta variable permite forzar el comportamiento si es necesario 